body {
	background-color: black;

}
header {
	color: powderblue;
}
h1 {
	color: yellow;
	font-family: verdana;
	font-size: 100%;


}
p {
	color: green;
	font-family: verdana;
	font-size: 100%;

}
<style>
a:link {
	color: green;
	background-color: yellow;
	text-decoration: none;
}
a:hover {
	color: black;
	background-color: yellow;
}